@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Modak&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Modak&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap'); */
@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

@layer utilities {
  .bubble-font {
    font-family: "Modak", system-ui !important;
    /* font-family: "Fredoka", sans-serif; */
    /* -webkit-text-stroke: 2px white; */
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shadow-3d {
  box-shadow: -5px 5px 0 #f6339a;
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;
}

.shadow-3d:active {
  outline: none;
  box-shadow: 0 0 0 #f6339a;
  transform: translate(-5px, 5px);
}

.spinner {
  position: relative;
  width: 33.6px;
  height: 33.6px;
  perspective: 67.2px;
}

.spinner div {
  position: absolute;
  left: 50%;
  width: 100%;
  height: 100%;
  transform-origin: left;
  background: #f6339a;
  animation: spinner-16s03x 2s infinite;
}

.spinner div:nth-child(1) {
  animation-delay: 0.15s;
}

.spinner div:nth-child(2) {
  animation-delay: 0.3s;
}

.spinner div:nth-child(3) {
  animation-delay: 0.45s;
}

.spinner div:nth-child(4) {
  animation-delay: 0.6s;
}

.spinner div:nth-child(5) {
  animation-delay: 0.75s;
}

@keyframes spinner-16s03x {
  0% {
    transform: rotateY(0deg);
  }

  50%,
  80% {
    transform: rotateY(-180deg);
  }

  90%,
  100% {
    opacity: 0;
    transform: rotateY(-180deg);
  }
}

@keyframes division-overlay-fade {
  0% {
    transform: scale(0.96);
  }

  100% {
    transform: scale(1.6);
  }
}

.division-overlay-text {
  animation: division-overlay-fade 4s ease-in-out forwards;
}

@keyframes ayo-mulai-zoom {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.6);
  }
}

.ayo-mulai-zoom {
  animation: ayo-mulai-zoom 2s ease-in-out forwards;
}

.main-button {
  @apply flex items-center gap-3 bg-pink-500 border-2 border-white rounded-full py-2 px-4 cursor-pointer text-white hover:bg-white hover:text-pink-500 font-semibold duration-300 transition-all;
}

.secondary-button {
  @apply flex cursor-pointer items-center gap-3 rounded-full border-2 border-pink-500 bg-white px-4 py-2 text-sm font-semibold text-pink-500 transition-all duration-300;
}
